header {
    z-index: 1;
    position: fixed;
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    padding-top: 72px;
    height: 100%;
    width: 50%;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin {
    padding-top: 72px;
    right:0;
    height: 100%;
    width: 50%;
    z-index: 0;
    position: fixed;
    display: flex;
    background-color: $background;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        padding: 32px 0;
        width: 360px;
        height: auto;
    }

    span {
        color: $success
    }
}

.flex {
    display: flex;
    align-items: center;
}

.intro {
    margin-bottom: 40px;
}

